.PostJobsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "JobPostBoard JobPostBoard JobPostBoard"
        "JobDescriptionWrite JobDescriptionWrite JobDescriptionWrite"
        "JobDescriptionWrite JobDescriptionWrite JobDescriptionWrite";
}

.JobPostBoard {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.037, 1.25);
    height: 25vh;
    color: aliceblue;
    background-size: 100% 100%;
    background-image: url('/public/Images/software-development-banner.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    grid-area: JobPostBoard;
}

.JobPostTitle {
    animation: upDown 5000ms infinite linear;
}

@keyframes upDown {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.JobDescriptionWrite {
    grid-area: JobDescriptionWrite;
}