.red-row {
    background-color: #FFCACA;
    /* light red */
}

.green-row {
    background-color: #CAF7C4;
    /* light green */
}

.RedInputNumberClass {
    background-color: salmon;
    background: salmon;
}